[submodule "Frontend/01-apple_web"]
	path = Frontend/01-apple_web
	url = https://github.com/KudaChan/web-Apple-Clone
[submodule "Frontend/02-nike_website"]
	path = Frontend/02-nike_website
	url = https://github.com/KudaChan/web-nike-clone
[submodule "FullStack/01-slow_life_ecommerse"]
	path = FullStack/01-slow_life_ecommerse
	url = https://github.com/KudaChan/slowlife-ecommerse
[submodule "FullStact/02-MIS"]
	path = FullStact/02-MIS
	url = https://github.com/KudaChan/Information-Mangament-System.git
[submodule "FullStack/02-MIS"]
	path = FullStack/02-MIS
	url = https://github.com/KudaChan/Information-Mangament-System.git
[submodule "Blockchain/Project/01_major_project"]
	path = Blockchain/Project/01_major_project
	url = https://github.com/KudaChan/Major-Project.git
[submodule "01-PersonalWeb"]
	path = 01-PersonalWeb
	url = https://github.com/KudaChan/MyWebPortfolio.git
[submodule "02-Herb_ai"]
	path = 02-Herb_ai
	url = https://github.com/KudaChan/herb_ai
